.wcflex-container a:hover {
	
}
.wcflex-slider a:hover {
	
}
.wcflex-container a:focus {
	
}
.wcflex-slider a:focus {
	
}
.slides {
	list-style: none; margin: 0px; padding: 0px;
}
.slides > li {
	list-style: none; margin: 0px; padding: 0px;
}
.wcflex-control-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.wcflex-direction-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.wcflex-pauseplay span {
	text-transform: capitalize;
}
.wcflexslider {
	margin: 0px; padding: 0px;
}
.wcflexslider .slides > li {
	display: none; -webkit-backface-visibility: hidden;
}
.wcflexslider .slides img {
	margin-right: auto; margin-left: auto; display: block;
}
.wcflexslider .slides::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden;
}
html[xmlns] .wcflexslider .slides {
	display: block;
}
* html .wcflexslider .slides {
	height: 1%;
}
.no-js .wcflexslider .slides > li:first-child {
	display: block;
}
.wcflexslider {
	background: rgb(255, 255, 255); margin: 0px 0px 60px; border: 4px solid rgb(255, 255, 255); border-image: none; position: relative; -ms-zoom: 1;
}
.wcflexslider .slides {
	-ms-zoom: 1;
}
.wcflexslider .slides img {
	height: auto; -moz-user-select: none;
}
.wcflex-viewport {
	transition:0.6s; max-height: 2000px; -webkit-transition: all 0.6s ease; -o-transition: all 0.6s ease; -moz-transition: all 0.6s ease;
}
.loading .wcflex-viewport {
	max-height: 300px;
}
.carousel li {
	margin-right: 5px;
}
.wcflex-direction-nav {
	
}
.wcflex-direction-nav a {
	margin: -25px 0px 0px; transition:0.3s ease-in-out; top: 50%; width: 50px; height: 50px; color: rgba(0, 0, 0, 0.8); overflow: hidden; text-decoration: none; display: block; position: absolute; z-index: 10; cursor: pointer; opacity: 0; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.wcflex-direction-nav .wcflex-prev {
	background: url("images/slide-arrow-left.png") no-repeat center !important; left: 0px;
}
.wcflex-direction-nav .wcflex-next {
	background: url("images/slide-arrow-right.png") no-repeat center !important; text-align: right; right: 0px;
}
.wcflexslider:hover .wcflex-direction-nav .wcflex-prev {
	opacity: 1;
}
.wcflexslider:hover .wcflex-direction-nav .wcflex-prev:hover {
	
}
.wcflexslider:hover .wcflex-direction-nav .wcflex-next {
	opacity: 1;
}
.wcflexslider:hover .wcflex-direction-nav .wcflex-next:hover {
	opacity: 1;
}
.wcflex-control-nav {
	width: 100%; text-align: center; bottom: -40px; position: absolute;
}
.wcflex-control-nav li {
	margin: 0px 6px; display: inline-block; -ms-zoom: 1;
}
.wcflex-control-paging li a {
	background: rgba(0, 0, 0, 0.5); width: 11px; height: 11px; text-indent: -9999px; display: block; cursor: pointer;
}
.wcflex-control-paging li a:hover {
	background: rgba(0, 0, 0, 0.7);
}
.wcflex-control-paging li a.wcflex-active {
	background: rgba(0, 0, 0, 0.9); cursor: default;
}
.wcflex-control-thumbs {
	margin: 5px 0px 0px; overflow: hidden; position: static;
}
.wcflex-control-thumbs li {
	margin: 0px; width: 25%; float: left;
}
.wcflex-control-thumbs img {
	transition:0.6s; width: 100%; height: auto; display: block; cursor: pointer; opacity: 0.7; -webkit-transition: all 0.6s ease; -o-transition: all 0.6s ease; -moz-transition: all 0.6s ease;
}
.wcflex-control-thumbs img:hover {
	opacity: 1;
}
.wcflex-control-thumbs .wcflex-active {
	cursor: default; opacity: 1;
}
