.rsMinW {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.rsMinW .rsOverflow {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.rsMinW .rsSlide {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.rsMinW .rsVideoFrameHolder {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.rsMinW .rsThumbs {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.rsMinW .rsArrow {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    z-index: 21;
    cursor: pointer;
}

.rsMinW .rsArrowLeft {
    right: 37px;
    bottom: 7px;
}

.rsMinW .rsArrowRight {
    right: 7px;
    bottom: 7px;
}

.rsMinW .rsArrowIcn {
    background: url("rs-minimal-white.png");
    border-radius: 2px;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
    cursor: pointer;
}

.rsMinW .rsArrowIcn:hover {}

.rsMinW.rsHor .rsArrowLeft .rsArrowIcn {
    background-position: -68px -36px;
}

.rsMinW.rsHor .rsArrowRight .rsArrowIcn {
    background-position: -68px -68px;
}

.rsMinW.rsVer .rsArrowLeft .rsArrowIcn {
    background-position: -100px -36px;
}

.rsMinW.rsVer .rsArrowRight .rsArrowIcn {
    background-position: -100px -68px;
}

.rsMinW .rsArrowDisabled .rsArrowIcn {
    opacity: 0.3 !important;
}

.rsMinW .rsBullets {
    height: auto;
    text-align: center;
    right: 73px;
    bottom: 15px;
    line-height: 6px;
    overflow: hidden;
    padding-top: 4px;
    position: absolute;
    z-index: 35;
}

.rsMinW .rsBullet {
    padding: 6px 5px 6px 4px;
    width: 6px;
    height: 6px;
    display: inline-block;
}

.rsMinW .rsBullet span {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    display: block;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.rsMinW .rsBullet.rsNavSelected span {
    background: rgb(255, 255, 255);
}

.rsMinW .rsThumbsHor {
    width: 100%;
    height: 72px;
}

.rsMinW .rsThumbsVer {
    top: 0px;
    width: 96px;
    height: 100%;
    right: 0px;
    position: absolute;
}

.rsMinW.rsWithThumbsHor .rsThumbsContainer {
    height: 100%;
    position: relative;
}

.rsMinW.rsWithThumbsVer .rsThumbsContainer {
    width: 100%;
    position: relative;
}

.rsMinW .rsThumb {
    width: 96px;
    height: 72px;
    overflow: hidden;
    float: left;
}

.rsMinW .rsThumb img {
    width: 100%;
    height: 100%;
}

.rsMinW .rsThumb.rsNavSelected {
    background: rgb(51, 51, 51);
}

.rsMinW .rsThumb.rsNavSelected img {
    opacity: 0.7;
}

.rsMinW .rsThumb.rsNavSelected span.thumbIco {
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-image: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    -webkit-backface-visibility: hidden;
}

.rsMinW .rsTmb {
    display: block;
}

.rsMinW .rsThumbsArrow {
    width: 20px;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 21;
    cursor: pointer;
}

.rsMinW.rsWithThumbsVer .rsThumbsArrow {
    width: 100%;
    height: 20px;
}

.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft {
    left: 0px;
    top: 0px;
}

.rsMinW.rsWithThumbsVer .rsThumbsArrowRight {
    left: 0px;
    bottom: 0px;
}

.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft {
    left: 0px;
    top: 0px;
}

.rsMinW.rsWithThumbsHor .rsThumbsArrowRight {
    top: 0px;
    right: 0px;
}

.rsMinW .rsThumbsArrowIcn {
    background: url("rs-minimal-white.png");
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    position: absolute;
    cursor: pointer;
}

.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
    background-position: -128px -32px;
}

.rsMinW.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
    background-position: -128px -48px;
}

.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
    background-position: -144px -32px;
}

.rsMinW.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
    background-position: -144px -48px;
}

.rsMinW .rsThumbsArrowDisabled {
    display: none !important;
}

@media screen and (max-width:800px) and (min-width:0px) {
    .rsMinW .rsThumb {
        width: 59px;
        height: 44px;
    }
    .rsMinW .rsThumbsHor {
        height: 44px;
    }
    .rsMinW .rsThumbsVer {
        width: 59px;
    }
}

.rsMinW .rsTabs {
    margin: 0px auto;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    padding-top: 12px;
    position: relative;
}

.rsMinW .rsTab {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(217, 217, 221) rgb(245, 245, 245) rgb(217, 217, 221) rgb(217, 217, 221);
    padding: 5px 13px 6px;
    border-image: none;
    width: auto;
    height: auto;
    text-align: center;
    color: rgb(51, 51, 51);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    min-width: 72px;
    background-image: linear-gradient(rgb(254, 254, 254), rgb(244, 244, 244));
    background-color: rgb(0, 0, 0);
}

.rsMinW :first-child.rsTab {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

.rsMinW :last-child.rsTab {
    border-right-color: rgb(207, 207, 207);
    border-right-width: 1px;
    border-right-style: solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.rsMinW .rsTab:active {
    border: 1px solid rgb(217, 217, 221);
    border-image: none;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(244, 244, 244);
}

.rsMinW .rsTab.rsNavSelected {
    background: linear-gradient(rgb(172, 172, 172), rgb(187, 187, 187)) rgb(172, 172, 172);
    border: 1px solid rgb(153, 153, 153);
    border-image: none;
    color: rgb(0, 0, 0);
    box-shadow: inset 0px 1px 9px rgba(102, 102, 102, 0.65);
    text-shadow: 1px 1px #838383;
}

.rsMinW .rsFullscreenBtn {
    top: 0px;
    width: 44px;
    height: 44px;
    right: 0px;
    display: block;
    position: absolute;
    z-index: 22;
    cursor: pointer;
}

.rsMinW .rsFullscreenIcn {
    background: url("rs-minimal-white.png") 0px 0px;
    margin: 6px;
    width: 32px;
    height: 32px;
    display: block;
}

.rsMinW .rsFullscreenIcn:hover {
    opacity: 0.8;
}

.rsMinW.rsFullscreen .rsFullscreenIcn {
    background-position: -32px 0px;
}

.rsMinW .rsPlayBtn {
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.rsMinW .rsPlayBtnIcon {
    background: url("rs-minimal-white.png") no-repeat 0px -32px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    transition: 0.3s;
    width: 64px;
    height: 64px;
    display: block;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -webkit-border-radius: 4px;
}

.rsMinW .rsPlayBtn:hover .rsPlayBtnIcon {
    background-color: rgba(0, 0, 0, 0.9);
}

.rsMinW .rsBtnCenterer {
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
}

.rsMinW .rsCloseVideoBtn {
    top: 0px;
    width: 44px;
    height: 44px;
    right: 0px;
    position: absolute;
    z-index: 500;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.rsMinW .rsCloseVideoBtn.rsiOSBtn {
    top: -38px;
    right: -6px;
}

.rsMinW .rsCloseVideoIcn {
    background: url("rs-minimal-white.png") -64px 0px rgba(0, 0, 0, 0.75);
    margin: 6px;
    width: 32px;
    height: 32px;
}

.rsMinW .rsCloseVideoIcn:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.rsMinW .rsPreloader {
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    background-image: url("../preloaders/preloader-white.gif");
}

.rsMinW .rsGCaption {
    background: rgba(0, 0, 0, 0.75);
    padding: 2px 8px;
    border-radius: 2px;
    left: 6px;
    width: auto;
    text-align: left;
    bottom: 6px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    float: none;
    position: absolute;
}