#shiftnav-toggle-main {
    background: #fff;
    color: #006633;
}


/*
@media only screen and (min-width:767px) {  
    .shiftnav-wrap {
        padding-top: 0 !important;
    }
}
 
@media only screen and (max-width:766px) {
    #menu-main {
        display: none !important;
    }
}
*/

@media only screen and (min-width:1220px) {
    #shiftnav-toggle-main {
        display: none;
    }
    .shiftnav-wrap {
        padding-top: 0 !important;
    }
}

@media only screen and (max-width:1221px) {
    #shiftnav-toggle-main {
        display: block;
    }
}


/* General */

.shiftnav-toggle,
.shiftnav-toggle *,
.shiftnav,
.shiftnav * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.3em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    background: none transparent;
}

.shiftnav-wrap {
    padding: 0;
    margin: 0;
    background: none;
    position: relative;
}

body.shiftnav-lock-x.shiftnav-enabled {
    overflow-x: hidden;
}

body.shiftnav-lock.shiftnav-open {
    overflow: hidden;
}

body.shiftnav-open {
    /*overflow:hidden;*/
}

body.shiftnav-transition {
    overflow: visible;
}

body.shiftnav-enabled.shiftnav-open.admin-bar,
body.shiftnav-enabled.shiftnav-transition.admin-bar {
    /*margin-top:-28px;*/
}


/* TOGGLE */

.shiftnav-toggle {
    cursor: pointer;
}


/* Main Toggle */

#shiftnav-toggle-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    z-index: 5000;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    text-align: center;
    cursor: pointer;
}

#shiftnav-toggle-main.shiftnav-toggle-position-absolute {
    position: absolute;
}

#shiftnav-toggle-main.shiftnav-toggle-main-align-left {
    text-align: left;
}

#shiftnav-toggle-main.shiftnav-toggle-main-align-right {
    text-align: right;
}

#shiftnav-toggle-main a {
    color: inherit;
    text-decoration: none;
}

#shiftnav-toggle-main .shiftnav-main-toggle-content-before {
    float: left;
}

#shiftnav-toggle-main .shiftnav-main-toggle-content-after {
    float: right;
}

#shiftnav-toggle-main.shiftnav-toggle-main-align-center .shiftnav-main-toggle-content {
    width: 100%;
    position: absolute;
    left: 0;
}

.shiftnav-toggle-main-block {
    padding: 0px 20px;
    display: inline-block;
}

.shiftnav-toggle-main-ontop {
    position: relative;
    z-index: 20;
}


/* Bars */

#shiftnav-toggle-main:before {
    /*position:absolute;
	left:20px;
	/*content: '\2261';*/
    float: left;
    content: '\f0c9';
    font-family: FontAwesome;
    padding: 16px 10px;
}

.shiftnav-open #shiftnav-toggle-main.shiftnav-toggle-icon-x:before {
    content: '\f00d';
}

.shiftnav-open-right #shiftnav-toggle-main:before,
#shiftnav-toggle-main.shiftnav-toggle-edge-right:before {
    /*left:auto;
	right:20px;*/
    float: right;
    padding-left: 20px;
}

.shiftnav-open-left #shiftnav-toggle-main.shiftnav-toggle-edge-right:before {
    /*left:20px;
	right:auto;*/
    float: left;
    padding-left: 0;
    padding-right: 20px;
}

.shiftnav-force #shiftnav-toggle-main {
    display: block !important;
}

.shiftnav-open.shiftnav-open-left #shiftnav-toggle-main,
.shiftnav-open.shiftnav-open-left .shiftnav-wrap {
    -webkit-transform: translateX(290px);
    -moz-transform: translateX(290px);
    -ms-transform: translateX(290px);
    -o-transform: translateX(290px);
    transform: translateX(290px);
}

.shiftnav-open.shiftnav-open-right #shiftnav-toggle-main,
.shiftnav-open.shiftnav-open-right .shiftnav-wrap {
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    -ms-transform: translateX(-290px);
    -o-transform: translateX(-290px);
    transform: translateX(-290px);
}

@media screen and (min-width: 1220px) {
    .shiftnav-open #shiftnav-toggle-main {
        -webkit-transition-delay: .02s;
        -moz-transition-delay: .02s;
        -ms-transition-delay: .02s;
        -o-transition-delay: .02s;
        transition-delay: .02s;
    }
}

body.admin-bar #shiftnav-toggle-main,
body.admin-bar .shiftnav {
    top: 32px;
}

body.admin-bar .shiftnav {
    padding-bottom: 32px;
}

@media screen and (min-width: 600px) and (max-width: 782px) {
    body.admin-bar #shiftnav-toggle-main,
    body.admin-bar .shiftnav {
        top: 46px;
    }
    body.admin-bar .shiftnav {
        padding-bottom: 46px;
    }
}

@media screen and (max-width: 600px) {
    body.admin-bar #shiftnav-toggle-main,
    body.admin-bar .shiftnav {
        top: 0;
    }
    body.admin-bar .shiftnav {
        padding-bottom: 0;
    }
    html #wpadminbar {
        top: 54px;
    }
}


/* WRAPPER */

.shiftnav-wrap {
    left: 0;
    top: 0;
    z-index: 250;
    padding-top: 1px;
    margin-top: -1px;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
}

.shiftnav-open .shiftnav-wrap {
    height: 100%;
}

@media screen and (min-width: 1220px) {
    .shiftnav-open .shiftnav-wrap {
        -webkit-transition-delay: .02s;
        -moz-transition-delay: .02s;
        -ms-transition-delay: .02s;
        -o-transition-delay: .02s;
        transition-delay: .02s;
    }
}


/* Shadow */

.shiftnav:after {
    content: ' ';
    display: block;
    position: absolute;
    right: -15px;
    top: 0;
    height: 100%;
    width: 15px;
    background: transparent;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

.shiftnav.shiftnav-right-edge:after {
    left: -15px;
    right: auto;
}

.shiftnav-no-transforms .shiftnav:after {
    display: none !important;
}


/* MENU PANEL */

.shiftnav.shiftnav-nojs {
    display: none;
}

.shiftnav {
    position: fixed;
    top: 0;
    width: 290px;
    height: 100%;
    background: white;
    z-index: 6000;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
}

.shiftnav-inner {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.shiftnav.shiftnav-left-edge {
    left: 0;
}

.shiftnav.shiftnav-right-edge {
    right: 0;
}


/* Shift the menu */

.shiftnav.shiftnav-left-edge {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.shiftnav.shiftnav-right-edge {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.shiftnav-open .shiftnav.shiftnav-open-target {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}


/* No Transforms */

.shiftnav-no-transforms .shiftnav {
    width: 290px;
}

.shiftnav-no-transforms .shiftnav.shiftnav-left-edge {
    left: -290px;
}

.shiftnav-no-transforms.shiftnav-open .shiftnav.shiftnav-open-target.shiftnav-left-edge {
    left: 0;
}

.shiftnav-no-transforms .shiftnav.shiftnav-right-edge {
    left: auto;
    right: -290px;
}

.shiftnav-no-transforms.shiftnav-open .shiftnav.shiftnav-open-target.shiftnav-right-edge {
    right: 0;
}

.shiftnav-no-transforms .shiftnav,
.shiftnav-no-transforms #shiftnav-toggle-main {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.shiftnav-no-transforms.shiftnav-open-left #shiftnav-toggle-main {
    left: 290px;
}

.shiftnav-no-transforms.shiftnav-open-right #shiftnav-toggle-main {
    left: auto;
    right: 290px;
}

.shiftnav-no-transforms #shiftnav-toggle-main,
.shiftnav-no-transforms .shiftnav-wrap {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}


/* Prevent weird link clicking on old android */

.shiftnav-no-transforms .shiftnav-inner {
    padding-top: 30px;
}


/* Menu Title */

.shiftnav .shiftnav-menu-title {
    font-size: 30px;
    text-align: center;
    padding: 40px 25px;
    font-weight: normal;
    margin: 0;
    color: inherit;
}

.shiftnav-menu-title a,
.shiftnav-menu-title a:hover,
.shiftnav-menu-title a:visited {
    color: inherit;
    text-decoration: none;
}


/* Menu Image */

.shiftnav .shiftnav-menu-image-padded {
    padding: 25px;
}

.shiftnav .shiftnav-menu-image a {
    display: block;
}

.shiftnav .shiftnav-menu-image img {
    max-width: 100%;
    height: auto;
}


/* Menu */

.shiftnav ul.shiftnav-menu {
    position: relative;
    clear: both;
    /*overflow-x:hidden;*/
    overflow: hidden;
}

.shiftnav ul.shiftnav-menu,
.shiftnav ul.shiftnav-menu ul.sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.shiftnav ul.shiftnav-menu li.menu-item {
    position: relative;
    margin: 0;
    padding: 0;
    background: none transparent;
    list-style-type: none;
    border-bottom: 1px solid #fff;
}

.shiftnav ul.shiftnav-menu li.menu-item>.shiftnav-target,
.shiftnav ul.shiftnav-menu li.shiftnav-retract>.shiftnav-target {
    display: block;
    padding: 10px 25px 0px 25px;
    line-height: 300%;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
}

.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-has-icon>.shiftnav-target>i.shiftnav-icon {
    margin-right: .8em;
    font-size: 150%;
    vertical-align: middle;
    line-height: inherit;
    width: 1.2em;
    text-align: center;
}

.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-has-icon>.shiftnav-target>i.shiftnav-icon:before {
    vertical-align: top;
}

.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-has-icon>.shiftnav-target>span.shiftnav-target-text {
    vertical-align: middle;
    display: inline-block;
    line-height: inherit;
}

.shiftnav ul.shiftnav-menu li.shiftnav-retract,
.shiftnav ul.shiftnav-menu li.shiftnav-sub-shift li.shiftnav-active~li.shiftnav-retract {
    display: none;
    margin: 0;
}

.shiftnav ul.shiftnav-menu li.shiftnav-sub-shift>.sub-menu>li.shiftnav-retract {
    display: block;
}


/* Menu Items */


/* Buttons Medium */

.shiftnav ul.shiftnav-menu.shiftnav-targets-medium li.menu-item>.shiftnav-target {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


/* Buttons Large */

.shiftnav ul.shiftnav-menu.shiftnav-targets-large li.menu-item>.shiftnav-target {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}


/* Buttons Enormous */

.shiftnav ul.shiftnav-menu.shiftnav-targets-enormous li.menu-item>.shiftnav-target {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}


/* Text Small */

.shiftnav ul.shiftnav-menu.shiftnav-targets-text-small li.menu-item>.shiftnav-target {
    font-size: 12px !important;
}


/* Text Medium */

.shiftnav ul.shiftnav-menu.shiftnav-targets-text-medium li.menu-item>.shiftnav-target {
    font-size: 14px !important;
}


/* Text Large */

.shiftnav ul.shiftnav-menu.shiftnav-targets-text-large li.menu-item>.shiftnav-target {
    font-size: 16px !important;
}


/* Text Enormous */

.shiftnav ul.shiftnav-menu.shiftnav-targets-text-enormous li.menu-item>.shiftnav-target {
    font-size: 16px !important;
}


/* Icons Small */

.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-small li.menu-item>.shiftnav-target>i.shiftnav-icon {
    font-size: 80% !important;
}


/* Icons Medium */

.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-medium li.menu-item>.shiftnav-target>i.shiftnav-icon {
    font-size: 120% !important;
}


/* Icons Large */

.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-large li.menu-item>.shiftnav-target>i.shiftnav-icon {
    font-size: 150% !important;
}

.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-large li.menu-item.shiftnav-has-icon>.shiftnav-target>i.shiftnav-icon:before {
    vertical-align: middle;
}


/* Icons Enormous */

.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-enormous li.menu-item>.shiftnav-target>i.shiftnav-icon {
    font-size: 200% !important;
}

.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-enormous li.menu-item.shiftnav-has-icon>.shiftnav-target>i.shiftnav-icon:before {
    vertical-align: middle;
}


/* Submenu Indentation */

.shiftnav ul.shiftnav-menu.shiftnav-indent-subs li.shiftnav-sub-always ul.sub-menu li.menu-item>a {
    padding-left: 50px;
}

.shiftnav ul.shiftnav-menu.shiftnav-indent-subs li.shiftnav-sub-always ul.sub-menu ul.sub-menu li.menu-item>a {
    padding-left: 75px;
}

.shiftnav ul.shiftnav-menu.shiftnav-indent-subs li.shiftnav-sub-always ul.sub-menu ul.sub-menu ul.sub-menu li.menu-item>a {
    padding-left: 100px;
}


/* RESPONSIVENESS */

@media only screen and (max-width: 960px) {
    #shiftnav-toggle-main {
        font-size: 14px;
    }
}

@media only screen and (max-width: 479px) {
    .shiftnav {
        width: 85%;
    }
    .shiftnav-open.shiftnav-open-left #shiftnav-toggle-main,
    .shiftnav-open.shiftnav-open-left .shiftnav-wrap {
        -webkit-transform: translateX(84.8%);
        -moz-transform: translateX(84.8%);
        -ms-transform: translateX(84.8%);
        -o-transform: translateX(84.8%);
        transform: translateX(84.8%);
    }
    .shiftnav-open.shiftnav-open-right #shiftnav-toggle-main,
    .shiftnav-open.shiftnav-open-right .shiftnav-wrap {
        -webkit-transform: translateX(-84.8%);
        -moz-transform: translateX(-84.8%);
        -ms-transform: translateX(-84.8%);
        -o-transform: translateX(-84.8%);
        transform: translateX(-84.8%);
    }
    .shiftnav .shiftnav-menu-title {
        font-size: 20px;
        text-align: center;
        padding: 20px 0;
        font-weight: normal;
        margin: 0;
    }
}


/* Submenu Toggles */

.shiftnav.shiftnav-expandable-submenus ul.shiftnav-menu li.menu-item-has-children>.shiftnav-target {
    padding-right: 35px;
    -webkit-user-select: none !important;
    /*-webkit-user-select: none !important;   /* disable cut copy paste */
    /*-webkit-touch-callout: none !important; /* disable callout, image save panel */
}

.shiftnav.shiftnav-expandable-submenus ul.shiftnav-menu li.menu-item-has-children>.shiftnav-target:after {
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 15px;
}

.shiftnav.shiftnav-expandable-submenus ul.shiftnav-menu li.menu-item-has-children.shiftnav-active>a.shiftnav-target:after,
.shiftnav.shiftnav-expandable-submenus ul.shiftnav-menu ul.sub-menu li.menu-item-has-children.shiftnav-active>a.shiftnav-target:after {
    content: "\f0c1";
}


/* Transition - Standard (up) */

.shiftnav.shiftnav-transition-standard ul.shiftnav-menu ul.sub-menu,
.shiftnav.shiftnav-transition-standard ul.shiftnav-menu ul.sub-menu ul.sub-menu {
    -webkit-transition: all .3s ease .1s;
    -moz-transition: all .3s ease .1s;
    -ms-transition: all .3s ease .1s;
    -o-transition: all .3s ease .1s;
    transition: all .3s ease .1s;
}


/* Submenus */

.shiftnav ul.shiftnav-menu li.menu-item {
    z-index: 30;
}


/* Submenu Activation */

.shiftnav li.menu-item .shiftnav-submenu-activation {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 0 20px;
    height: 100%;
    width: 50px;
    cursor: pointer;
    z-index: 100;
    text-align: center;
}

.shiftnav .shiftnav-submenu-activation i.fa {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 50%;
    margin-left: -5px;
}


/* Submenu Layering */

.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-active>*,
.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-in-transition>* {
    z-index: 40;
}

.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-active>ul.sub-menu,
.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-in-transition>ul.sub-menu {
    z-index: 50;
}


/* Submenus - shift */

.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-sub-shift {
    overflow: hidden;
}

.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-sub-shift.shiftnav-active,
.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-sub-shift.shiftnav-in-transition {
    /*position:static;*/
    z-index: 40;
    /*position:absolute;*/
    top: 0;
    width: 100%;
    overflow: visible;
}

.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-sub-shift.shiftnav-active>.shiftnav-submenu-activation,
.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-sub-shift.shiftnav-in-transition>.shiftnav-submenu-activation {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.shiftnav li.menu-item.shiftnav-sub-shift .shiftnav-submenu-activation {
    height: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
}

.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-active>.shiftnav-submenu-activation {
    transition-duration: .2s;
}

.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-sub-shift>ul.sub-menu {
    position: absolute;
    min-height: 100%;
    top: auto;
    width: 100%;
    height: 0;
    overflow: hidden;
    /*margin-bottom:30px;*/
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
}

.shiftnav.shiftnav-nojs ul.shiftnav-menu li.menu-item.shiftnav-sub-shift:hover>ul.sub-menu,
.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-sub-shift.shiftnav-active>ul.sub-menu {
    /*position:absolute;*/
    position: relative;
    height: auto;
    overflow: hidden;
    /*
	overflow-y:auto;
	overflow-x:hidden;
	*/
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}


/*.shiftnav.shiftnav-sub-shift-active ul.shiftnav-menu li.menu-item,
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-sub-shift-active > li.menu-item,
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-sub-shift-active > li.shiftnav-retract,
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-sub-shift-active > li.shiftnav-active > ul.sub-menu.shiftnav-sub-shift-active-current > li.menu-item{
	left:100%;
	position:absolute;
	width:100%;
}
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-menu li.menu-item.shiftnav-active,
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-sub-shift-active > li.menu-item,
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-sub-shift-active > li.shiftnav-active,
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-sub-shift-active > li.shiftnav-active > ul.sub-menu > li.menu-item,
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-sub-shift-active > li.shiftnav-active > ul.sub-menu.shiftnav-sub-shift-active-current > li.menu-item.shiftnav-active{
	left:0;
	position:relative;
}
*/

.shiftnav.shiftnav-sub-shift-active ul.shiftnav-menu>li.menu-item,
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-menu ul.shiftnav-sub-active>li.menu-item {
    left: 100%;
    position: absolute;
    width: 100%;
}

.shiftnav.shiftnav-sub-shift-active ul.shiftnav-menu li.menu-item.shiftnav-active,
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-menu ul.shiftnav-sub-active>li.menu-item.shiftnav-active,
.shiftnav.shiftnav-sub-shift-active ul.shiftnav-menu ul.shiftnav-sub-active.shiftnav-sub-active-current>li.menu-item {
    left: 0;
    position: relative;
}

.shiftnav-sub-shift-active ul.shiftnav-menu {
    overflow: visible;
}


/* For FireFox browser bug */

.shiftnav li.menu-item.shiftnav-caulk {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
}


/* Submenu - Accordion */

.shiftnav li.menu-item.shiftnav-sub-accordion>ul.sub-menu {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.shiftnav li.menu-item.shiftnav-sub-accordion.shiftnav-active>ul.sub-menu {
    max-height: 800px;
    overflow-y: auto;
    visibility: visible;
}

.shiftnav li.menu-item.shiftnav-sub-accordion>.shiftnav-submenu-activation-close,
.shiftnav li.menu-item.shiftnav-sub-accordion.shiftnav-active>.shiftnav-submenu-activation-open {
    display: none;
}

.shiftnav li.menu-item.shiftnav-sub-accordion>.shiftnav-submenu-activation-open,
.shiftnav li.menu-item.shiftnav-sub-accordion.shiftnav-active>.shiftnav-submenu-activation-close {
    display: block;
}


/*.shiftnav li.menu-item.shiftnav-sub-accordion.shiftnav-in-transition > ul.sub-menu{
	overflow-y:hidden;
	visibility:visible;
}

*/


/* Search */

.shiftnav-search .shiftnav-searchform {
    position: relative;
    height: 50px;
    background: #f9f9f9;
}

.shiftnav-search input.shiftnav-search-input {
    width: 100%;
    padding: 14px 50px 14px 25px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    background: transparent;
}

.shiftnav-search .shiftnav-search-submit,
.shiftnav-searchbar-drop .shiftnav-search-submit {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #666;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.shiftnav-searchbar-toggle {
    height: 100%;
    line-height: 100%;
    width: 60px;
    text-align: center;
    display: block;
    float: left;
}

.shiftnav-searchbar-toggle-pos-right-corner {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.shiftnav-searchbar-toggle-pos-left-corner {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.shiftnav-searchbar-drop {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.shiftnav-main-toggle-content-before .shiftnav-searchbar-drop {
    right: auto;
    left: 0;
}

.shiftnav-searchbar-drop-open {
    display: block;
}

.shiftnav-searchbar-drop .shiftnav-search-input {
    width: 100%;
    padding: 24px 50px 24px 24px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    background: transparent;
    margin: 0;
    font-size: 18px;
}

.shiftnav-searchbar-drop .shiftnav-search-submit {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    width: 60px;
}

.shiftnav .shiftnav-tagline {
    font-size: 16px;
    color: inherit;
    padding: 25px;
    display: block;
    line-height: 30px;
    vertical-align: top;
}

.shiftnav .shiftnav-tagline .fa {
    font-size: 20px;
    margin: 0 10px;
}

.shiftnav p {
    color: inherit;
    padding: 25px;
    margin: 0;
}

.shiftnav p.shiftnav-center {
    text-align: center;
}

.shiftnav h1,
.shiftnav h2,
.shiftnav h3,
.shiftnav h4,
.shiftnav h5,
.shiftnav h6 {
    color: inherit;
    padding: 25px;
}

.shiftnav-basic-user-profile {
    display: block;
    font-size: 16px;
    line-height: 40px;
    vertical-align: middle;
}

.shiftnav-basic-user-profile img {
    margin-right: 15px;
    float: left;
}

.shiftnav-content-wrap {
    padding: 25px;
}

.shiftnav-content-wrap-small {
    padding: 10px;
}

.shiftnav-admin-tip {
    background: #eee;
    color: #333;
    padding: 20px;
    border-left: 4px solid #E6D244;
    margin: 10px;
}

.shiftnav-admin-tip a,
.shiftnav-admin-tip a:visited {
    color: #00A3FF;
    text-decoration: underline;
}

.shiftnav-admin-tip a:hover {
    color: #0D75AF;
}

.shiftnav-admin-tip strong {
    color: tomato;
}

.shiftnav-loading {
    display: block;
    position: fixed;
    bottom: 0;
    right: 20px;
    background: #35AC6A;
    color: white;
    padding: 15px;
    max-width: 400px;
}

.shiftnav-loading h5 {
    color: #fff;
    font-weight: bold;
    margin: 0;
}

.shiftnav-loading:hover h5 {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.shiftnav-loading .shiftnav-loading-message {
    color: #fff;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.shiftnav-loading:hover .shiftnav-loading-message {
    visibility: visible;
    max-height: 1000px;
    overflow: auto;
}

.shiftnav-loading .shiftnav-loading-message p {
    color: #fff;
    margin: 10px 0;
}


/* Hide on old IE */

.ie8 .shiftnav,
.ie8 .shiftnav-toggle,
.ie7 .shiftnav,
.ie7 .shiftnav-toggle {
    display: none !important;
}