@media only screen and (max-width:60em)
{
.pws_tabs_container.pws_tabs_responsive {
	width: 100% !important;
}
.pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll {
	width: 100%;
}
.pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll li {
	text-align: center; vertical-align: top;
}
.pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll li a {
	margin: 0px; line-height: 1.12em; overflow: hidden; font-size: 1em;
}
.pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll li a i {
	margin: 0px 0px 5px; display: block;
}
.pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical {
	display: block; position: relative;
}
.pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical::after {
	clear: both; display: block; content: "";
}
.pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical ul.pws_tabs_controll {
	width: 100%; float: none; position: relative;
}
.pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical ul.pws_tabs_controll li {
	display: inline-block;
}
.pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical ul.pws_tabs_controll li a {
	margin: 0px;
}
.pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical .pws_tabs_list {
	float: none; position: relative;
}
}
@media only screen and (max-width:37.5em)
{
.pws_tabs_container.pws_tabs_responsive {
	width: 100% !important; position: relative;
}
.pws_tabs_container.pws_tabs_responsive .pws_responsive_small_menu {
	width: 100%; height: 40px; display: block; background-color: rgb(155, 215, 213);
}
.pws_tabs_container.pws_tabs_responsive .pws_responsive_small_menu a {
	padding: 3px 0px 0px; width: 40px; height: 40px; text-align: center; color: rgb(255, 255, 255); overflow: hidden; font-size: 2em; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.pws_tabs_container.pws_tabs_responsive .pws_responsive_small_menu a:hover {
	background-color: rgb(112, 197, 194);
}
.pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll.pws_tabs_menu_popup {
	margin: 0px; padding: 0px; left: 0px; top: 40px; overflow: hidden; display: block; position: absolute; z-index: 99; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll.pws_tabs_menu_popup li {
	float: none; display: block;
}
.pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll.pws_tabs_menu_popup li a i {
	margin: 0px 0.18em 0px 0px; display: inline-block;
}
.pws_tabs_container.pws_tabs_responsive.pws_tabs_rtl ul.pws_tabs_controll.pws_tabs_menu_popup li a i {
	margin: 0px 0px 0px 0.18em; display: inline-block;
}
}
.pws_tabs_container {
	width: 100%;
}
.pws_tabs_container ul.pws_tabs_controll {
	list-style: none;
}
.pws_tabs_container ul.pws_tabs_controll li {
	display: inline-block;
}
.pws_tabs_container ul.pws_tabs_controll li a {
	padding: 0.93em 1.25em; color: rgb(255, 255, 255); text-decoration: none; margin-right: 3px; display: block; background-color: rgb(155, 215, 213);
}
.pws_tabs_container ul.pws_tabs_controll li a:hover {
	background-color: rgb(112, 197, 194);
}
.pws_tabs_container ul.pws_tabs_controll li a i {
	margin-right: 8px;
}
.pws_tabs_container ul.pws_tabs_controll li a.pws_tab_noname i {
	margin-right: 0px; margin-left: 0px;
}
.pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active {
	color: rgb(80, 80, 80); background-color: white;
}
.pws_tabs_list {
	padding: 1.25em; transition:0.3s ease-in-out 0.3s; height: auto; overflow: hidden; display: block; position: relative; box-sizing: border-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-transition: all .3s ease-in-out .3s; -o-transition: all .3s ease-in-out .3s; -moz-transition: all .3s ease-in-out .3s;
}
.pws_tab_single {
	transition:0.3s ease-in-out; top: 20px; padding-right: 1.25em; position: absolute; -webkit-transition: all .3s ease-in-out .0; -o-transition: all .3s ease-in-out .0; -moz-transition: all .3s ease-in-out .0;
}
.pws_tabs_container.pws_tabs_rtl {
	text-align: right; direction: rtl;
}
.pws_tabs_container.pws_tabs_rtl ul.pws_tabs_controll li a {
	margin-right: 0px; margin-left: 3px;
}
.pws_tabs_container.pws_tabs_rtl ul.pws_tabs_controll li a i {
	margin-right: 0px; margin-left: 8px;
}
.pws_tabs_container.pws_tabs_rtl .pws_tab_single {
	padding-right: 0px; padding-left: 1.25em;
}
.pws_tabs_container.pws_tabs_vertical {
	display: block; position: relative;
}
.pws_tabs_container.pws_tabs_vertical::after {
	clear: both; display: block; content: "";
}
.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll {
	width: auto; float: left; position: relative;
}
.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll li {
	display: block;
}
.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll li a {
	margin-right: 0px; margin-bottom: 3px; margin-left: 0px;
}
.pws_tabs_container.pws_tabs_vertical .pws_tabs_list {
	float: left; position: relative;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_violet .pws_responsive_small_menu {
	background-color: rgb(199, 44, 102);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_violet .pws_responsive_small_menu a:hover {
	background-color: rgb(166, 22, 76);
}
.pws_tabs_container.pws_theme_violet ul.pws_tabs_controll li a {
	background-color: rgb(199, 44, 102);
}
.pws_tabs_container.pws_theme_violet ul.pws_tabs_controll li a:hover {
	background-color: rgb(166, 22, 76);
}
.pws_tabs_container.pws_theme_violet ul.pws_tabs_controll li a.pws_tab_active {
	background-color: rgb(255, 255, 255);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_green .pws_responsive_small_menu {
	background-color: rgb(134, 196, 71);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_green .pws_responsive_small_menu a:hover {
	background-color: rgb(83, 147, 18);
}
.pws_tabs_container.pws_theme_green ul.pws_tabs_controll li a {
	background-color: rgb(134, 196, 71);
}
.pws_tabs_container.pws_theme_green ul.pws_tabs_controll li a:hover {
	background-color: rgb(83, 147, 18);
}
.pws_tabs_container.pws_theme_green ul.pws_tabs_controll li a.pws_tab_active {
	background-color: rgb(255, 255, 255);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_yellow .pws_responsive_small_menu {
	background-color: rgb(253, 184, 19);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_yellow .pws_responsive_small_menu a:hover {
	background-color: rgb(255, 165, 0);
}
.pws_tabs_container.pws_theme_yellow ul.pws_tabs_controll li a {
	background-color: rgb(253, 184, 19);
}
.pws_tabs_container.pws_theme_yellow ul.pws_tabs_controll li a:hover {
	background-color: rgb(255, 165, 0);
}
.pws_tabs_container.pws_theme_yellow ul.pws_tabs_controll li a.pws_tab_active {
	background-color: rgb(255, 255, 255);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_gold .pws_responsive_small_menu {
	background-color: rgb(248, 152, 39);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_gold .pws_responsive_small_menu a:hover {
	background-color: rgb(250, 123, 0);
}
.pws_tabs_container.pws_theme_gold ul.pws_tabs_controll li a {
	background-color: rgb(248, 152, 39);
}
.pws_tabs_container.pws_theme_gold ul.pws_tabs_controll li a:hover {
	background-color: rgb(250, 123, 0);
}
.pws_tabs_container.pws_theme_gold ul.pws_tabs_controll li a.pws_tab_active {
	background-color: rgb(255, 255, 255);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_orange .pws_responsive_small_menu {
	background-color: rgb(241, 91, 66);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_orange .pws_responsive_small_menu a:hover {
	background-color: rgb(253, 46, 11);
}
.pws_tabs_container.pws_theme_orange ul.pws_tabs_controll li a {
	background-color: rgb(241, 91, 66);
}
.pws_tabs_container.pws_theme_orange ul.pws_tabs_controll li a:hover {
	background-color: rgb(253, 46, 11);
}
.pws_tabs_container.pws_theme_orange ul.pws_tabs_controll li a.pws_tab_active {
	background-color: rgb(255, 255, 255);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_red .pws_responsive_small_menu {
	background-color: rgb(228, 25, 55);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_red .pws_responsive_small_menu a:hover {
	background-color: rgb(215, 7, 38);
}
.pws_tabs_container.pws_theme_red ul.pws_tabs_controll li a {
	background-color: rgb(228, 25, 55);
}
.pws_tabs_container.pws_theme_red ul.pws_tabs_controll li a:hover {
	background-color: rgb(215, 7, 38);
}
.pws_tabs_container.pws_theme_red ul.pws_tabs_controll li a.pws_tab_active {
	background-color: rgb(255, 255, 255);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_purple .pws_responsive_small_menu {
	background-color: rgb(103, 46, 141);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_purple .pws_responsive_small_menu a:hover {
	background-color: rgb(71, 8, 113);
}
.pws_tabs_container.pws_theme_purple ul.pws_tabs_controll li a {
	background-color: rgb(103, 46, 141);
}
.pws_tabs_container.pws_theme_purple ul.pws_tabs_controll li a:hover {
	background-color: rgb(71, 8, 113);
}
.pws_tabs_container.pws_theme_purple ul.pws_tabs_controll li a.pws_tab_active {
	background-color: rgb(255, 255, 255);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_grey .pws_responsive_small_menu {
	background-color: rgb(77, 77, 79);
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_grey .pws_responsive_small_menu a:hover {
	background-color: rgb(0, 0, 0);
}
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a {
	background-color: rgb(77, 77, 79);
}
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a:hover {
	background-color: rgb(0, 0, 0);
}
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a.pws_tab_active {
	background-color: rgb(255, 255, 255);
}
.pws_tabs_noeffect .pws_tabs_list {
	transition:0.1s ease-in-out; -webkit-transition: all .1s ease-in-out 0; -o-transition: all .1s ease-in-out 0; -moz-transition: all .1s ease-in-out 0;
}
.pws_tabs_noeffect .pws_tab_single {
	transition:none; -webkit-transition: none; -o-transition: none; -moz-transition: none;
}
.pws_tabs_none_hide {
	display: none;
}
.pws_tabs_none_show {
	display: block;
}
.pws_tabs_scale_hide {
	opacity: 0; transform: scale(0.9); -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9);
}
.pws_tabs_scale_show {
	z-index: 1; opacity: 1; transform: scale(1); transition-delay: 0.3s; -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -webkit-transition-delay: .3s; -moz-transition-delay: .3s; -o-transition-delay: .3s;
}
.pws_tabs_slide_left_hide {
	opacity: 0; transform: translateX(-100%); -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -o-transform: translateX(-100%);
}
.pws_tabs_slide_left_show {
	opacity: 1; transform: translateX(0px); transition-delay: 0.3s; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -o-transform: translateX(0px); -webkit-transition-delay: .3s; -moz-transition-delay: .3s; -o-transition-delay: .3s;
}
.pws_tabs_slide_right_hide {
	opacity: 0; transform: translateX(200%); -webkit-transform: translateX(200%); -moz-transform: translateX(200%); -o-transform: translateX(200%);
}
.pws_tabs_slide_right_show {
	opacity: 1; transform: translateX(0px); transition-delay: 0.3s; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -o-transform: translateX(0px); -webkit-transition-delay: .3s; -moz-transition-delay: .3s; -o-transition-delay: .3s;
}
.pws_tabs_slide_top_hide {
	opacity: 0; transform: translateY(-100%); -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -o-transform: translateY(-100%);
}
.pws_tabs_slide_top_show {
	opacity: 1; transform: translateY(0px); transition-delay: 0.3s; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -o-transform: translateY(0px); -webkit-transition-delay: .3s; -moz-transition-delay: .3s; -o-transition-delay: .3s;
}
.pws_tabs_slide_down_hide {
	opacity: 0; transform: translateY(200%); -webkit-transform: translateY(200%); -moz-transform: translateY(200%); -o-transform: translateY(200%);
}
.pws_tabs_slide_down_show {
	opacity: 1; transform: translateY(0px); transition-delay: 0.3s; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -o-transform: translateY(0px); -webkit-transition-delay: .3s; -moz-transition-delay: .3s; -o-transition-delay: .3s;
}
ul.pws_tabs_controll {
	margin-bottom: 4px;
}
.pws_tabs_scale_hide.pws_tab_single.pws_tabs_scale_show {
	margin-top: -10px;
}
.pws_tabs_scale_hide.pws_tab_single.pws_tabs_scale_show {
	text-align: justify; font-size: 15px; background-color: rgb(253, 253, 253);
}
ul.pws_tabs_controll {
	font-size: 15px;
}
.pws_tabs_container ul.pws_tabs_controll li a {
	padding: 5px 24px; color: rgb(255, 255, 255); text-decoration: none; margin-right: 3px; display: block; background-color: rgb(155, 215, 213);
}
.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll li a {
	margin-right: 0px; margin-bottom: 3px; margin-left: 0px;
}
.pws_tabs_container ul.pws_tabs_controll {
	list-style: none; padding: 3px 0px;
}
