 @import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,200;0,300;0,400;0,600;0,800;1,400;1,600&display=swap');
 body {
     font-family: 'Sarabun', Helvetica, Arial, sans-serif !important;
     font-weight: normal;
     font-style: normal;
     background-color: #e9efef !important;
 }
 
 .Objcontrol {
     font-size: 12px;
     border: 1px solid #ccc;
     height: 28px;
     color: #555;
     text-align: center;
     padding: 2px 2px 2px 2px;
     border--radius: 5px;
     border--radius: 5px;
     -moz-border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     -webkit-border-radius: 5px;
 }
 
 .logo {
     padding: 10px;
 }
 
 .header-logo {
     color: #649628;
     font-size: 40px;
     font-weight: 700;
 }
 
 .header-appname {
     color: #3f6ad8;
     font-size: 20px;
     font-weight: 400;
 }
 
 .header-text {
     color: #649628;
     font-size: 14px;
     font-weight: 400;
 }