﻿<%@ Page Title="หน้าแรก" Language="VB" MasterPageFile="~/Site.Master" AutoEventWireup="true"
    CodeBehind="Default.aspx.vb" Inherits="_Default" %>

    <asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
        <div id="slider">
            <div class="royalSlider new-royalslider-1 rsMinW rs-default-template" id="new-royalslider-1">
            <!-- 
                <div class="rsContent"><img  class="rsImg" src="imageslide/cu7.jpg" width="1920" height="680">
                    <h3>TTTTTTT</h3>
                    <A class="rsLink" href="imageslide/cu0.jpg" target="_blank"></A>
                </div>
   
                <div class="rsContent" style="background-image:url('imageslide/cu1.jpg')"><A class="rsLink"
                        href="imageslide/cu1.jpg" target="_blank"></A>
                </div>
                <div class="rsContent" style="background-image:url('imageslide/cu2.jpg')"><A class="rsLink"
                        href="imageslide/cu2.jpg" target="_blank"></A>
                </div>
                <div class="rsContent" style="background-image:url('imageslide/cu3.jpg')"><A class="rsLink"
                        href="imageslide/cu3.jpg" target="_blank"></A>
                </div>
                <div class="rsContent" style="background-image:url('imageslide/cu4.jpg')"><A class="rsLink"
                        href="imageslide/cu4.jpg" target="_blank"></A>
                </div>
                <div class="rsContent" style="background-image:url('imageslide/cu5.jpg')"><A class="rsLink"
                        href="imageslide/cu5.jpg" target="_blank"></A>
                </div>
                <div class="rsContent" style="background-image:url('imageslide/cu6.jpg')"><A class="rsLink"
                        href="imageslide/cu6.jpg" target="_blank"></A>
                </div>
                <div class="rsContent" style="background-image:url('imageslide/cu7.jpg')"><A class="rsLink"
                        href="imageslide/cu7.jpg" target="_blank"></A>
                </div>
                < % Response.Write("<div class='rsContent'><img  class='rsImg' src='imageslide/" & dtS.Rows(i)("imgpath") & "' width='100%' height='420PX' /><a class='rsLink' href='" & dtS.Rows(i)("url") & "' title='" & dtS.Rows(i)("title") & "' target='_blank'></a></div>") % >
                < % Response.Write("<div class='rsContent' style='background-image:url(imageslide/" & dtS.Rows(i)("imgpath") & ")'><a class='rsLink' href='" & dtS.Rows(i)("url") & "' title='" & dtS.Rows(i)("title") & "' target='_blank'></a></div>") % >
             -->
            <% For i = 0 To dtS.Rows.Count - 1 %>
                 <% Response.Write("<div class='rsContent'><img  class='rsImg' src='imageslide/" & dtS.Rows(i)("imgpath") & "' width='100%' height='420PX' /><a class='rsLink' href='" & dtS.Rows(i)("url") & "' title='" & dtS.Rows(i)("title") & "' target='_blank'></a></div>") %>
            <% Next %>
              
        </div>
     </div>

        <!-- 
      <div class="header-carousel">
                <div class="header-carousel__images">
                    <div class="header-carousel-images">
                        <div class="header-carousel-images__item" data-item-index="0" data-item-position="previous" style="background-image:url('imageslide/อวยพร.jpg')">
                        </div>
                        <div class="header-carousel-images__item" data-item-index="1" data-item-position="current" style="background-image:url('imageslide/วันเด็ก.jpg')">
                        </div>
                        <div class="header-carousel-images__item" data-item-index="2" data-item-position="next" style="background-image:url('imageslide/อวยพร.jpg')">
                        </div>
                    </div>
                </div>
                <div class="header-carousel__content">
                    <div class="header-carousel-content">
                        <div class="header-carousel-content__text">
                            cxczxc
                        </div>
                    </div>
                </div>
            </div>
   <div class="component-call-to-action component-call-to-action--dark component-call-to-action--header-strip">
                gdfg
            </div> -->
        <div class="containerPage body-content">
 <section class="content"> 
            <div class="row">
             
 <div class="col-md-12 fullwidth-content text-center"  >
                 
     <table style="width: 100%;margin-top:20px">
         <tr>
             <td>  <img src="images/linegreen.png"  /></td> 
         </tr>
          
     </table>
                  
                    </div> 
</div> 
 <div class="row">
<h1 class="news-heading text-green"> ข่าวประชาสัมพันธ์</h1>
           <div class="grid-post grid-template-col-4 grid-template-list-xs grid-gap-post"> 
           
<% For i = 0 To dtNew.Rows.Count - 1 %>
               <div id="post-<% Response.Write(i) %>"  class="grid-post-item">
        
       
            <div class="card card-sm card-post h-100">
                <div class="card-media">
                    <a href='<% Response.Write("NewsDetail.aspx?NewsID=" & dtNew.Rows(i)("NewsID")) %>' title='<% Response.Write(dtNew.Rows(i)("NewsHead")) %>' rel="bookmark">
                            <img src="<% Response.Write(ImageCoverNews + dtNew.Rows(i)("CoverimagePath")) %>" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>  
                </div>
                <div class="card-body p-0 px-sm-6 py-sm-5">
                    <h3 class="display-posttitle mb-2">
                        <a href='<% Response.Write("NewsDetail.aspx?NewsID=" & dtNew.Rows(i)("NewsID")) %>' title='<% Response.Write(dtNew.Rows(i)("NewsHead")) %>' rel="bookmark"><% Response.Write(dtNew.Rows(i)("NewsHead")) %></a>
                    </h3>                  
                </div>              
            </div>
       
</div>
       
<% Next %>  

           </div>
</div>
             <div class="row text-center">
                 <a href="news" target="_blank"><h3><i  class="fa fa-arrow-right"></i> อ่านเพิ่มเติม</h3></a>
                 </div>
     <hr /> 
</section>
        </div>
        
    </asp:Content>